{% extends "base.html" %}

{% block content %}
<form action="/add" method="POST">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <input type="Submit" value="add">
</form>
{% endblock %}